article .column {
  padding-left: 5px;
  display: inline-block;
  float: left;
  width: calc(100%/4 - 5px);
}
article .column img {
  width: 100%;
  cursor: pointer;
}
article:after {
  display: block;
  width: 10px;
  height: 65px;
  content: '';
}
.slider {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
.slider .slide {
  display: block;
  position: fixed;
  width: 60vw;
  height: 100vh;
  margin-left: 20vw;
  background: center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.navigation {
  width: 100%;
  height: 100%;
}
.navigation .prevBtn,
.navigation .nextBtn {
  opacity: 0.1;
  transition: 0.1s linear;
}
.navigation .prevBtn {
  text-align: left;
}
.navigation .nextBtn {
  width: 50%;
  text-align: right;
}
.navigation img {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}
.prevBtn:hover,
.nextBtn:hover {
  opacity: 1;
}
.close {
  display: block;
  position: fixed;
  height: 3vw;
  width: 3vw;
  background: url(../images/close_x100.png) center no-repeat;
  background-size: contain;
  top: 10px;
  z-index: 4;
  opacity: 0.99999999999999;
  right: 10px;
  cursor: pointer;
}
