.slider {
  width: 100%;
  height: 100%;
}
.slide {
  width: 100%;
  height: 100%;
  background: center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.navigation {
  width: 100%;
  height: 100%;
}
.navigation .prevBtn,
.navigation .nextBtn {
  opacity: 0.1;
  transition: 0.1s linear;
}
.navigation .prevBtn {
  text-align: left;
}
.navigation .nextBtn {
  width: 50%;
  text-align: right;
}
.navigation img {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}
.prevBtn:hover,
.nextBtn:hover {
  opacity: 1;
}
